.AboutPage {
  //   background: #ff5c9d; // Цвет фона
  padding: 20px;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 16px;
}
