.GridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
  justify-content: center;
  padding: calc((100vw - 320px * 3 - 16px * 2) / 2);
  // margin: auto;
  // @media (max-width: 768px) {
  //   width: 100%;
  // }

  // @media (min-width: 769px) and (max-width: 991px) {
  //   width: 100%;
  // }

  // @media (min-width: 992px) and (max-width: 1199px) {
  //   width: 100%;
  // }

  // @media (min-width: 1200px) and (max-width: 1400px) {
  //   width: 100%;
  // }

  // @media (min-width: 1401px) and (max-width: 1700px) {
  //   width: 100%;
  // }

  // @media (min-width: 1701px) {
  //   width: 1600px;
  // }
}
