.flexContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
  padding: 16px;
  margin: auto;
  @media (max-width: 768px) {
    width: 100%;
  }

  @media (min-width: 769px) and (max-width: 991px) {
    width: 100%;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    width: 100%;
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    width: 100%;
  }

  @media (min-width: 1401px) and (max-width: 1700px) {
    width: 100%;
  }

  @media (min-width: 1701px) {
    width: 1600px;
  }
}
