.Navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Link {
  // color: var(--color-white);
  color: #fff;
  font: var(--font-l);
  font-weight: 500;
}

.AnimatedText {
  z-index: 100;
  position: fixed;
  top: 83px;
}

.Icon {
  z-index: 100;
  // color: var(--color-white);
  color: #fff;
  font-size: (--font-size-l);
  font-family: 'Lobster';
  font-weight: bold;
  display: flex;
  align-items: center;
  transition:
    transform 0.3s,
    color 0.3s;
  &:hover {
    color: var(--color-heading);
  }
  h3 {
    margin-top: -10px;
  }
}

.Logo {
  width: 75px;
  height: 75px;
  object-fit: contain;
}
.Left {
  position: fixed;
  left: 30px;
  top: 30px;
  z-index: 1;
}
.Right {
  position: fixed;
  right: 30px;
  top: 60px;
  z-index: 1;
  border-radius: 50px;
  width: 250px;
  height: 75px;
}

.NavTop {
  display: flex;
  justify-content: space-between;
}

.SocialLink {
  color: #fff;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-l);
  gap: 10px;
  transition: color 0.3s;
  &:hover {
    color: #fff;
  }
}
