.Navbar {
  width: 100%;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  position: relative;
}

.Link {
  color: var(--color-heading);
  font: var(--font-l);
  font-weight: 500;
}

.Icon {
  z-index: 100;
  color: var(--color-heading);
  font-size: (--font-size-l);
  font-family: 'Lobster';
  font-weight: bold;
  transition: color 0.3s;
  &:hover {
    color: var(--color-heading);
  }
}
// .Right {
//   position: absolute;
//   right: 30px;
//   top: 50px;
//   // box-shadow: 2px 0 5px rgb(255, 255, 255);
// }

// .Left {
//   position: absolute;
//   left: 30px;
//   top: 48px;
//   //  box-shadow: 2px 0 5px rgb(255, 255, 255);
// }

.NavTop {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0 5px 3px #00000063;
  // background: var(--gradient-5-2);
  height: 90px;
  padding: 10px 30px;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  // border-bottom-right-radius: 30px;
  // border-bottom-left-radius: 30px;
  // opacity: 0.7;
  // -webkit-backdrop-filter: blur(2px);
  // backdrop-filter: blur(20px);
}

.NavBottom {
  width: 65%;
  overflow: hidden;
  transition:
    box-shadow 0.3s ease-in-out,
    top 0.3s ease-in-out,
    height 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  height: 90px;
  opacity: 0.5;
  top: 0px;
  position: absolute;
  text-shadow: 0px 0px 1.4px var(--color-heading) e1;
  // -webkit-backdrop-filter: blur(2px);
  // backdrop-filter: blur(2px);
  left: 18.75%;
  z-index: 1;
  border-radius: 10px;
  position: fixed;
  // border: var(--color-heading) 3px solid;
  // box-shadow: 0px 0px 3px rgb(255, 255, 255);1a1a40
}

.NavBottom.opened {
  opacity: 1;
}

.SocialLink {
  color: var(--color-heading);
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-l);
  gap: 10px;
  transition: color 0.3s;
  &:hover {
    color: var(--color-heading);
  }
}

.arrowUp,
.arrowDown {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transition: transform 0.3s ease-in-out;
}

.arrowUp {
  border-bottom: 10px solid #fff; /* Цвет стрелки */
}

.arrowDown {
  border-top: 10px solid #fff; /* Цвет стрелки */
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &.rotating {
    animation: rotate 0.3s ease;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.googleButton {
  text-shadow: 0px 0px 1.4px var(--color-heading);
  background: none;
  color: var(--color-heading);
  font: var(--font-l);
  font-weight: 400;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #000000;
    text-shadow: 0 0 2.5px #000000;
  }

  &:focus {
    outline: none;
  }
}
