.BestVideoSection {
  background-color: blue;
  display: block;
}

.separatorWrapper {
  width: 100vw;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: -200px; // чтобы перекрывать верхнюю секцию
  left: 0px;
}

.separator {
  width: 100%;
  height: 200px;
  fill: var(--color-bg);
}

.wavePath {
  -o-transition: d 1s linear;
  -webkit-transition: d 1s linear;
  -moz-transition: d 1s linear;
  -ms-transition: d 1s linear;
  transition: d 1s linear;
}
