.Section {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 540;
  padding: auto;

  .Container {
    display: flex;
    flex-direction: column;
    margin: auto;
    &.border {
      border: 1px solid #000;
    }
  }

  @media (max-width: 768px) {
    .Container {
      width: 100%;
    }
  }

  @media (min-width: 769px) and (max-width: 991px) {
    .Container {
      width: 100%;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .Container {
      width: 100%;
    }
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    .Container {
      width: 100%;
    }
  }

  @media (min-width: 1401px) and (max-width: 1700px) {
    .Container {
      width: 100%;
    }
  }

  @media (min-width: 1701px) {
    .Container {
      width: 1600px;
    }
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Separator {
  position: absolute;
  left: 0px;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  border-radius: 50% 50% 0px 0px;
}
